/* .button{

    -fx-background-color:  #ff6542;
    -fx-background-radius: 5em;
    /*-fx-border-radius: 50%;*/
/*}*/
.button{
    -fx-border-color:  #ff6542;
    -fx-background-color:  transparent;
    -fx-border-width: 2px;
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
}

.button:hover{
    -fx-background-color:  #ff6542;
}

.text-field{
    -fx-background-radius:0em 5em  5em  0em;
    -fx-background-color:  white;
}

#Search_icon {
    -fx-background-color: white;
    -fx-background-radius: 5em 0em 0em 5em;

}

.table-view {
    -fx-background-color: #383838;
    -fx-background-radius: 30 ;
}

.table-view .column-header-background {
    -fx-background-color: #ff6542;
    -fx-background-radius: 30;
    -fx-background-insets: 0 0 10 0;
    -fx-padding: 0 0 10 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 2, 0.5, 1, 1);
}


.table-view .column-header-background .filler{
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view.filler {
    -fx-size: 40 ;
    -fx-border-width: 0 0 10 0;
    -fx-background-color: transparent;

}

.table-view .column-header .label{
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER;
}

.table-view .cell{
    -fx-cell-size: 35;
    -fx-alignment: center-left;
    -fx-alignment: CENTER;

}
.table-row-cell:selected {
    -fx-background-color: #6622CC;
}


